html {
  background-color: white;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.rotate {
  animation: rotation 2s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
